#wrap {
    background-color:#0130A6;
    width:440px; height:956px;
    padding-left:15px; /* 여백은 padding으로 설정 */
    padding-right:15px;
}
#wrap h1 {
    color:#FF8C62;
    padding-top:194px;
    margin-bottom:15px;
    font-size:2.5rem; /* 40px */
    font-weight:700; /* bold */
}
#wrap > p {
    color:#fff;
} /* #wrap 모든 자식 p */
#wrap > h1+p {
    background-color:#0130A6;
    margin-bottom:90px;
} /* wrap의 h1 옆에 p */
#wrap #login_frm {}
#wrap #login_frm h2 {
    font-size:1.375rem;
    font-weight:600;
    margin-bottom:15px;
    color:#fff;
}
#wrap #login_frm p {
}
#wrap #login_frm p.user_in {margin-bottom:43px;}
#wrap #login_frm p.user_btn {margin-bottom:20px;}
#wrap #login_frm p input::placeholder {/* placeholder 속성선택자작성법 */
    font-size:0.875rem;
    font-weight:300;
    color:#aaa;
}
#wrap #login_frm p input {
    width:410px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:100px;
    border:1px solid #FF8C62;
}
#wrap #login_frm p #login_btn {
    color:#FF8C62;
    background-color:#0130A6;
    border:1px solid #FF8C62;
    width:410px; 
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    font-weight:600; font-size:0.875rem;
    border-radius:100px;
}
#wrap #login_frm p .login_google {
    width:410px; 
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius:100px;
    background-color:#FF8C62; color:#000;
    display:block; text-align:center;
    font-weight:600; font-size:0.875rem;
}
#wrap #login_frm+p {
    color:#fff;
    font-size:0.75rem;
    letter-spacing:0;
    font-weight:300;
    text-align:center;
    margin-top:190px;

} /* #wrap의 login_frm 옆에 p */
#wrap #login_frm+p a {
    font-weight:600;
    color:#FF8C62;
} 